src/.phpunit.cache
src/node_modules
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/storage/pail
src/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
src/auth.json
src/.fleet
src/.idea
src/.nova
src/.vscode
src/.zed
